@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
 
}

:root{
    --clr: #222327;
}
body{
    background: var(--clr);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh ;
    background: var(--clr);
}

.navigator{
    width: 400px;
    height: 90px;
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigator ul{
    display: flex;
    width: 350px;
}

.navigator ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigator ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigator ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigator ul li:hover a .icon{
    transform: translateY(-30px);
    color:rgb(5, 191, 255);
}
.navigator ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigator ul li:hover a .text{
    opacity: 1;
    color: deepskyblue;
    transform: translateY(10px);
}

/* .indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(136, 47, 47);
    border-radius: 50%;
    transition: 0.5s;
}
.indicator:hover{
    position: absolute;
   top: -50%;
} */